<% form_tag( { :action => "brew" }, :method => :get) { -%>
  Left String:  <input type="text" name="left_string" value="<%= @left_string %>"/>  <br/>
  Right String: <input type="text" name="right_string" value="<%= @right_string %>"/>  <br/>
  Initial:      <input type="text" name="initial_cost" value="<%= @initial_cost %>"/>  <br/>
  Match:        <input type="text" name="match_cost" value="<%= @match_cost %>"/>  <br/>
  Insert:       <input type="text" name="insert_cost" value="<%= @insert_cost %>"/>  <br/>
  Delete:       <input type="text" name="delete_cost" value="<%= @delete_cost %>"/>  <br/>
  Substitute:   <input type="text" name="subst_cost" value="<%= @subst_cost %>"/>  <br/>
  <%= submit_tag "compare" %>
<% } -%>

<h2>Examples:</h2>

<ul>
  <%
    left = "De Morgan"
    ["De Morgan", "D'Morgun", "D'Morgun", "Demorgyn", "De Murgen", "Dy Moregan", 
     "Dy Murgan", "Da Murgan", "Da Morgan", "Da Myrgn" ].each {|right|
  %>
  <li><%= link_to "#{left} vs #{right}", :left_string=>left, :right_string=>right  %>
  <% } %>
</ul>
