<H1 ID="title"><%= render :partial => "title" %></H1>

<script>
  function make_querystring(action) {
    console.log("extended=" + $("#extended").is(':checked'))
    return "/index/" + action + "?left_string=" + escape($("#left_string").val())
                         + "&right_string="     + escape($("#right_string").val())
                         + "&initial_cost="     + escape($("#initial_cost").val())
                         + "&match_cost="       + escape($("#match_cost").val())
                         + "&insert_cost="      + escape($("#insert_cost").val())
                         + "&delete_cost="      + escape($("#delete_cost").val())
                         + "&subst_cost="       + escape($("#subst_cost").val())
                         + "&extended="         + $("#extended").is(':checked')
  }

  function rerender() {
    $('#brew_grid').load(make_querystring('brew_grid'));
    $('#phonetic_results').load(make_querystring('phonetic_results'));
    $('#title').load(make_querystring('title'));
    $('#traceback').load(make_querystring('traceback'));
    var link_text = '<a href="/index/edist?left_string=' 
         + escape($('#left_string').val())
         + '&right_string=' 
         + escape($('#right_string').val())
         + '">Try this example (' 
         + $('#left_string').val()
         + ' vs ' 
         + $('#right_string').val()
         + ') as edit distance.</a>'
    $('#other_link').html(link_text)
    return true
  }

  $(document).ready(function() {
    var elements = ["left_string", "right_string", "initial_cost", "match_cost",
                    "insert_cost", "delete_cost", "subst_cost" ]
    for ( var ii = 0; ii < elements.length; ++ii ) {
      $("#" + elements[ii]).keyup(rerender)
    }
    $("#extended").click(rerender)
  })
</script>


<div id="brew_grid">
  <%= render :partial => 'brew_grid' %>
</div>
<BR/>
<DIV ID="phonetic_results"><%= render :partial => 'phoentic_results' %></DIV>



<BR/>
<DIV id="other_link"> <%= link_to "Try this example (#{@left_string} vs #{@right_string}) as edit distance.", :action => 'edist', :left_string => @left_string, :right_string => @right_string %> </DIV>
<BR/>

<%= render :partial => 'brew_form' %>


<DIV ID="traceback">
<%= render :partial => 'traceback' %>
</DIV>



<h2>Other Examples:</h2>

<ul>
  <%
    left = "De Morgan"
    ["De Morgan", "D'Morgun", "D'Morgun", "Demorgyn", "De Murgen", "Dy Moregan", 
     "Dy Murgan", "Da Murgan", "Da Morgan", "Da Myrgn" ].each {|right|
  %>
  <li><%= link_to "#{left} vs #{right}", :left_string=>left, :right_string=>right  %>
  <% } %>
  <% pairs = ["CLMBS BLVD vs COLUMBUS BOULEVARD", "LA JOLLA vs LA HOYA"].each {|str|
    left,right = str.split(' vs ', 2)
  -%>
    <li><%= link_to "#{left} vs #{right}", :left_string=>left, :right_string=>right  %>
  <% } %>
</ul>
