<H1 ID="title"><%= render :partial => "title" %></H1>

<script>
  function make_querystring(action) {
    return "/index/" + action + "?left_string=" + escape($("#left_string").val())
                         + "&right_string="     + escape($("#right_string").val())
                         + "&initial_cost="     + escape($("#initial_cost").val())
                         + "&match_cost="       + escape($("#match_cost").val())
                         + "&insert_cost="      + escape($("#insert_cost").val())
                         + "&delete_cost="      + escape($("#delete_cost").val())
                         + "&subst_cost="       + escape($("#subst_cost").val())
  }

  function rerender() {
    $('#brew_grid').load(make_querystring('brew_grid'));
    $('#phonetic_results').load(make_querystring('phonetic_results'));
    $('#title').load(make_querystring('title'));
    var link_text = '<a href="/index/edist?left_string=' 
         + escape($('#left_string').val())
         + '&right_string=' 
         + escape($('#right_string').val())
         + '">Try this example (' 
         + $('#left_string').val()
         + ' vs ' 
         + $('#right_string').val()
         + ') as edit distance.</a>'
    console.log('resetting other_link...' + link_text)
    $('#other_link').html(link_text)
    return true
  }

  $(document).ready(function() {
    $("#left_string").keyup(rerender)
    $("#right_string").keyup(rerender)
    $("#initial_cost").keyup(rerender)
    $("#match_cost").keyup(rerender)
    $("#insert_cost").keyup(rerender)
    $("#delete_cost").keyup(rerender)
    $("#subst_cost").keyup(rerender)
  })
</script>


<div id="brew_grid">
  <%= render :partial => 'brew_grid' %>
</div>

<!--
<H3> Traceback </H3>
<UL>
  <% @traceback.each { |tb| %>
    <LI><%= tb.inspect %></LI>
  <% } %>
</UL>
-->

<BR/>
<DIV ID="phonetic_results"><%= render :partial => 'phoentic_results' %></DIV>



<BR/>
<BR/>
<DIV id="other_link"> <%= link_to "Try this example (#{@left_string} vs #{@right_string}) as edit distance.", :action => 'edist', :left_string => @left_string, :right_string => @right_string %> </DIV>
<BR/>
<BR/>

<%= render :partial => 'brew_form' %>
