<H1 ID="title"><%= render :partial => "title" %></H1>

<script>
  // Allow scripts to work when Firebug is not loaded.
  if (typeof(console) == "undefined") {
      var console = {
        log: function() {}
      };
  }

  Edist = {};
  Edist.kvParam = function(pname) {
    return pname + "=" + escape($("#" + pname).val());
  };

  Edist.makeQuerystring = function (action) {
    console.log("extended=" + $("#extended").is(':checked'));
    return "/index/" + action + "?" 
           + jQuery.map(["left_string","right_string","initial_cost","match_cost",
                    "insert_cost","delete_cost","subst_cost","transposition_cost"], Edist.kvParam).join("&")
           + "&extended=" + $("#extended").is(':checked');
  };

  Edist.reloadDiv = function (id) {
    $('#' + id).load(Edist.makeQuerystring(id));
  };

  Edist.rerender = function () {
    jQuery.map(['brew_grid', 'phonetic_results', 'title', 'traceback'], Edist.reloadDiv);

    var link_text = '<a href="/index/edist?left_string=' 
         + escape($('#left_string').val())
         + '&right_string=' 
         + escape($('#right_string').val())
         + '">Try this example (' 
         + $('#left_string').val()
         + ' vs ' 
         + $('#right_string').val()
         + ') as edit distance.</a>';
    $('#other_link').html(link_text);
    return true;
  };

  Edist.setScores = function (scoreMap) {
    $.each(scoreMap, function (eltId, score) {
      $(eltId).val(score);
    });
    Edist.rerender();
  };

  $(document).ready(function() {
    var elements = ["left_string", "right_string", "initial_cost", "match_cost",
                    "insert_cost", "delete_cost", "subst_cost", "transposition_cost" ];
    for ( var ii = 0; ii < elements.length; ++ii ) {
      $("#" + elements[ii]).keyup(Edist.rerender);
    }
    $("#extended").click(Edist.rerender);

    $("#brew-set-scores-as-edist").click(function () {
      Edist.setScores({
        "#initial_cost":         "0.0",
        "#match_cost":           "0.0",
        "#insert_cost":          "1.0",
        "#delete_cost":          "1.0",
        "#subst_cost":           "2.0",
        "#transposition_cost":   "2.0"
    })});

    $("#brew-set-scores-as-edist-plus").click(function () {
      Edist.setScores({
        "#initial_cost":         "0.0",
        "#match_cost":           "0.0",
        "#insert_cost":          "1.0",
        "#delete_cost":          "1.0",
        "#subst_cost":           "1.0",
        "#transposition_cost":   "1.0"
    })});

    $("#brew-set-scores-for-abbrev").click(function () {
      Edist.setScores({
        "#initial_cost":         "0.0",
        "#match_cost":           "0.0",
        "#insert_cost":          "0.1",
        "#delete_cost":          "5.0",
        "#subst_cost":           "5.0",
        "#transposition_cost":   "2.0"
    })});

    $("#brew-set-scores-for-typos").click(function () {
      Edist.setScores({
        "#initial_cost":         "0.0",
        "#match_cost":           "0.0",
        "#insert_cost":          "1.0",
        "#delete_cost":          "1.0",
        "#subst_cost":           "2.0",
        "#transposition_cost":   "0.1"
    })});
  });
</script>


<div id="brew_grid">
  <%= render :partial => 'brew_grid' %>
</div>
<BR/>
<DIV ID="phonetic_results"><%= render :partial => 'phoentic_results' %></DIV>



<BR/>
<DIV id="other_link"> <%= link_to "Try this example (#{@left_string} vs #{@right_string}) as edit distance.", :action => 'edist', :left_string => @left_string, :right_string => @right_string %> </DIV>
<BR/>

<%= render :partial => 'brew_form' %>


<DIV ID="traceback">
<%= render :partial => 'traceback' %>
</DIV>



<h2>Other Examples:</h2>

<ul>
  <%
    left = "De Morgan"
    ["De Morgan", "D'Morgun", "D'Morgun", "Demorgyn", "De Murgen", "Dy Moregan", 
     "Dy Murgan", "Da Murgan", "Da Morgan", "Da Myrgn" ].each {|right|
  %>
  <li><%= link_to "#{left} vs #{right}", :left_string=>left, :right_string=>right  %>
  <% } %>
  <% pairs = ["CLMBS BLVD vs COLUMBUS BOULEVARD", 
              "xCLMBS BLVD vs COLUMBUS BOULEVARD", 
              "CLMBS vs COLUMBUS", 
              "xCLMBS vs COLUMBUS", 
              "LA JOLLA vs LA HOYA"].each {|str|
    left,right = str.split(' vs ', 2)
  -%>
    <li><%= link_to "#{left} vs #{right}", :left_string=>left, :right_string=>right  %>
  <% } %>
</ul>
