<H1><%= render :partial => 'title' %></H1>

<script>
  function make_querystring(action) {
    return "/index/" + action + "?left_string=" + escape($("#left_string").val())
                              + "&right_string="     + escape($("#right_string").val())
  }

  function rerender() {
    $('#edist_grid').load(make_querystring('edist_grid'));
    $('#phonetic_results').load(make_querystring('phonetic_results'));
    $('#title').load(make_querystring('title'));
    return true
  }

  $(document).ready(function() {
    $("#left_string").keyup(rerender)
    $("#right_string").keyup(rerender)
  })
</script>

<DIV id="edist_grid">
  <%= render :partial => "edist_grid" %>
</DIV>

<BR/>
<DIV ID="phonetic_results"><%= render :partial => 'phoentic_results' %></DIV>


<BR/>
<BR/>
<%= link_to "Try this example (#{@left_string} vs #{@right_string}) as brew edit distance.", :action => 'brew', :left_string => @left_string, :right_string => @right_string %>
<BR/>
<BR/>

<%= render :partial => 'form' %>
