<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Edit Distance: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag "prototype" %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

<br/>
<div align="center">
  <a href="mailto:kyle.burton@gmail.com">Email me (Kyle Burton)</a> 
| <a href="http://github.com/kyleburton/fuzzy-string/tree/master">Download This app (and the presentation) from github.com</a>
</div>
</body>
</html>
