<h1>New atest</h1>

<% form_for(@atest) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :aprop %><br />
    <%= f.text_field :aprop %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', atests_path %>